h1 {
    font-size: 60px;
    font-family: Roboto, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.topheader {
    background-image: linear-gradient(47deg, rgb(242, 57, 57) 15%, rgb(3, 45, 171) 57%);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100vw;
    padding-bottom: 10px;
}

.social-media {
    fill: #ffffff;
    margin-right: 25px;
    padding-top: 0.5rem;
    align-items: center;
}

.social-media img {
    background-color: #ffffff1c;
    width: 14px;
    padding: 5px 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.social-media img:hover {
    background-color: #218838;
}

.phone-button {
    vertical-align: middle;
    width: 12px;
    margin-right: 5px;
    margin-left: 5px;
}

.phone-button:hover {
    background-color: #218838;
}

.phnum {
    color: white;
    margin-right: 20px;
}

.contact {
    text-decoration: none;
    background-color: #ffffff1c;
    padding: 5px 0.2rem;
    width: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 12px;
}

.contact:hover {
    background-color: #218838;
}

.email-button {
    vertical-align: bottom;
    width: 15px;
    margin-right: 10px;
}

.email {
    text-decoration: none;
    font-size: 12px;
    text-align: left;
    color: white;
    background-color: #ffffff1c;
    padding: 5px 0.2rem;
    width: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.email:hover {
    background-color: #218838;
}


.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    position: relative;
}

@media screen and (max-width: 768px) {
    .topheader {
        display: none; 
    }
}

@media screen and (max-width: 480px) {
    .topheader {
        display: none; 
    }
}

.nav{
    padding-top: 20px;
}

.nav ul li a {
    text-decoration: none;
    color: #0A2863;
    padding: 10px;
    transition: color 0.3s ease;
}

.nav ul li a:hover {
    color: red;
    position: relative;
    border-top: 2px solid red;
    padding-top: 5px;
}

.nav ul {
    text-decoration: none;
    color: blue;
    padding: 10px;
    list-style-type: none;
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.searchbutton {
    width: 15px;
    height: 15px;
}

.cta-button {
    background-color: red;
    color: white;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    margin-top: -20px;
}

.cta-button:hover {
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    width: 30px;
    height: 25px;
}

.hamburger .bar {
    background-color: #0A2863;  
    height: 5px;
    width: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.menu-toggle {
    display: none;
}

.close-button {
    background: none;
    border: none;
    color: black;
    font-size: 30px;
    text-align: right;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: auto;
    display: none;
}

.main-header.logo{
    display: flex;
    align-items: center;
}

.main-header .logo img{
    width: 200px;
    height: auto;
    transition: width 0.3s ease;
}

.main-header .logo .logo-text{
    display: none;
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    .nav ul {
        display: none;  
        position: fixed;
        top: 0;
        right: 0;  
        width: 600px;
        height: 100%;
        background-color: white;  
        margin: 0;
        z-index: 9999;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);  
        transform: translateX(100%);  
        transition: transform 0.3s ease;
    }

    .nav ul li:first-child{
        margin-bottom: 20px;
    }

    .menu-toggle:checked + .hamburger + .nav ul {
        transform: translateX(0); 
        display: block; 
        flex-direction: column;
    }

    .menu-toggle:checked + .hamburger + .nav ul .close-button{
        display: block;
    }

    .nav ul li {
        margin: 20px 0;
        text-align: left;
    }

    .nav ul li a {
        color: black; 
        font-size: 18px;
    }

    .nav ul li a:hover {
        color: blue;
        position: relative;
        border-top: none;
        padding-top: 5px;
    }

    .cta-button {
        display: block;
        width: 100%;
        text-align: center;
        background-color: red;
        padding: 10px;
        margin-top: 20px;
    }

    .searchbutton {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .menu-toggle:checked + .hamburger .bar:nth-child(1) {
        transform: rotate(45deg);
        position: relative;
        top: 10px;
    }

    .menu-toggle:checked + .hamburger .bar:nth-child(2) {
        opacity: 0; 
    }

    .menu-toggle:checked + .hamburger .bar:nth-child(3) {
        transform: rotate(-45deg);
        position: relative;
        bottom: 10px;
    }

    .close-button {
        display: block;
        align-items: right;
    }

    .main-header .logo img {
        width: 120px; 
    }

    .main-header .logo .logo-text{
        display: block;
        font-size: 18px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 480px) {
    .nav ul li a {
        font-size: 16px;
    }

    .main-header .logo img {
        width: 120px; 
    }
}



.hero {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
}

.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-image{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-content {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
  

.hero:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 255, 0.4); 
    z-index: 1;
}

@media screen and (max-width: 768px) {
   .hero-video{
    display: none;
   }
   .hero-image{
    display: block;
   }
}

@media screen and (max-width){
    .hero{
        height: 20vh;
    }
    .hero-content{
        padding: 1rem;
    }
    .hero content h1{
        font-size: 0.5rem;
    }
    .cta-button2{
        padding: 0.75rem 1rem;
        font-size: 0.7rem;
        margin-bottom: 0.7rem;
    }
}
  
  @media screen and (max-width: 480px) {
    .hero {
      height: 60vh;
    }
    .hero-content h1 {
      font-size: 0.5rem;
    }
    .hero-content p.main {
      font-size: 0.5rem;
    }
    .cta-button2 {
      font-size: 0.5rem;
      padding: 0.5rem 0.65rem;
    }
  }

.cta-button2 {
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: 20px 40px;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: transparent;
    background-image: linear-gradient(90deg, #30C6DEB8 0%, #3AA2F0C9 100%);
    border: none;
}

.cta-button2:hover {
    transform: scale(0.95);
}

.arrow {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.body1 {
    position: relative; /* Needed for positioning the pseudo-element */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    border-radius: 10px;
    gap: 30px;
    flex-wrap: wrap;
    overflow: hidden;
    background: none; /* Remove background from body1 */
    max-width: 100%;
    max-height: 40%;
    
}

.body1::before{
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://speedlinkng.com/wp-content/uploads/2022/09/white-background.jpg') no-repeat center center;
    background-size: cover;
    filter: blur(0.1rem); 
    z-index: -1; 
}

.text-section {
    flex: 1;
    max-width: 50%;
    margin-left: 1.5cm;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    z-index: 1;
}

.text-section h6 {
    color: #EC1C24;
    padding-left: 10px;
}

.text-section h1 {
    color: #020D39;
    padding-left: 10px;
    line-height: 1.1;
    word-wrap: break-word;
    font-size: 51.5px;
    margin-top: 30px;
}

.text-section p {
    color: #4B4F58;
    padding-left: 10px;
    padding-right: -1000px;
    margin-right: -80px;
    font-size: 17px;
    font-family: "Open sans",sans-serif;
    line-height: 1.6;
}

.text-section img{
    width: 16px;
    height: 16px;
    vertical-align: middle;
    padding-right: 10px;
}

.button-text {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
}

.cret-button {
    background-color: #B41E24;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    border: none;
    padding-left: 17px;
    padding-bottom: 15px;
    padding-top: 15px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    font-size: 16px;
}

.cret-button:hover {
    background-color: blue;
    transition: background-color 0.3s ease-in-out;
}

.image-section {
    flex: 1;
    width: 250px;
    max-width: 50%;
    margin-left: 50px;
    height: 350px;
    border: none;
    display: inline-block;
    vertical-align: middle;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: #EC7D81;
    border-radius: 40px 10px 100px 10px;
    box-sizing: border-box;
    margin-right: 120px;
}

@media (max-width: 768px) {
    .body1 {
        flex-direction: column; /* Stack elements vertically */
        align-items: stretch;
    }

    .text-section, .image-section {
        max-width: 100%;
        width: 100%;
    }

    .image-section {
        order: -1; /* Move the image section above the text section */
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 20px; /* Space between image and text on smaller screens */
    }

    .text-section{
        margin-left: -20px;
    }

    .text-section h1 {
        font-size: 36px; 
        
    }

    .text-section p {
        font-size: 15.014px; /* Adjust font size for readability */
    }

    .cret-button{
        margin-top: 40px;
        margin-left: 10px;
    }
}

.certification {
    background-image: url('https://speedlinkng.com/wp-content/uploads/2022/09/white-background.jpg'); 
    background-size: cover; 
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    padding: 40px 20px;
    border-radius: 8px;
    position: relative;
    width: 80%;
    height: 120px;
    margin-top: 40px;
    margin-left: 100px;
    justify-content: space-evenly;
}

.certification::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  rgba(2, 23, 109, 0.9); /* Solid color overlay */
    border-radius: 8px;
    z-index: 0; /* Overlay should be behind the content */
}

.cert-img {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 150px;
    margin-right: 20px;
    position: relative;
    z-index: 2;
}

.certification-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 700px;
    text-align: left;
    gap: 15px;
    z-index: 2;
}

.certification-text h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

.certification-text p {
    font-size: 16px;
    margin: 0;
    line-height: 1.5;
}

.button1 {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 5px 60px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    align-self: flex-start;
    position: relative;
    right: 0;
    bottom: 20px;
    z-index: 3;
    transition: background-color 0.3s ease;
    margin-top: 50px;
}

.button1:hover {
    background-color: #cc0000;
}

.button1-text {
    text-align: center;
    line-height: 1.2;
}

.services {
    background: url('https://speedlinkng.com/wp-content/uploads/2022/09/background-1.png');
    color: #4B4F58;
    padding-left: 100px;
    padding-right: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ser-txt h2 {
    color: #020d39;
    font-family: 'Roboto', sans-serif;
}

.ser-txt p {
    color: #000;
}

.ser-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.ser-list {
    flex: 1;
}

.ser-list ul {
    list-style: none;
    padding: 0;
    color: #222121;
    text-decoration: none;
    list-style-type: none;
}

.ser-list ul li {
    padding: 15px 30px;
    border: 2px solid #f1bcd9;
    background-color: white;
    border-radius: 0 30px 30px 0;
    transition: all 0.3s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 250px;
    height: 20px;
}

.ser-list ul li:hover {
    background-color: #be1219;
    color: white;
    border: none;
}

.ser-list ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    display: block;
    width: 100%;
    text-align: center;
    line-height: 30px;
    transition: color 0.3s ease;
}

.ser-list ul li:hover a {
    color: white;
}

.ser-images {
    position: relative;
    width: 60%; 
    height: 100%;
}

.ser-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('https://speedlinkng.com/wp-content/uploads/2022/09/pexels-nemuel-sereti-6424583.jpg') center/cover no-repeat;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.ser-image .overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, red, purple, blue);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.ser-image h3 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.ser-image ul {
    list-style: none;
    padding: 0;
}

.ser-image ul li {
    margin: 10px 0;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.ser-image ul li .chevron {
    margin-right: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.hover-item[data-service="itservices"]:hover ~ .ser-images #itservices {
    opacity: 1;
    visibility: visible;
}

.ind{
    padding-left: 99px;
    padding-right: 100px;
}

.ind-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    padding-left: 70px;
}

.text h2{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color: #020F42;
}

.text p{
    font-family: 'Open sans', sans-serif;
    font-size: 17px;
}

.ind-images .img1, .ind-images .img2, .ind-images .img3, 
.ind-images .img4, .ind-images .img5, .ind-images .img6, 
.ind-images .img7, .ind-images .img8, .ind-images .img9, 
.ind-images .img10 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 50px);
    height: 200px;
    background-color: white;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 170px;
}

.ind-images img {
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
}

.ind-images p {
    margin-top: 10px;
    text-align: center;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    color: #4B4F58;
}

 @media (max-width: 768px) {
    .ind-images {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .ind-images .img1, .ind-images .img2, .ind-images .img3, 
    .ind-images .img4, .ind-images .img5, .ind-images .img6, 
    .ind-images .img7, .ind-images .img8, .ind-images .img9, 
    .ind-images .img10 {
        width: calc(50% - 20px);
        height: 200px;
    }

    .ind-images img {
        width: 60px;
        height: 60px;
    }

    .text {
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .ind-images {
        flex-direction: column;
    }

    .ind-images .img1, .ind-images .img2, .ind-images .img3, 
    .ind-images .img4, .ind-images .img5, .ind-images .img6, 
    .ind-images .img7, .ind-images .img8, .ind-images .img9, 
    .ind-images .img10 {
        width: 100%;
        height: 120px;
    }

    .ind-images img {
        width: 50px;
        height: 50px;
    }

    /* Center the text inside the .text div */
    .text {
        text-align: center;
        width: 100%;
    }
}

.products {
    background: linear-gradient(180deg, #0627AD 0%, #CD2C32 100%);
    padding: 40px 20px;
    color: #fff;
    text-align: center;
}

.product-text h6 {
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.product-text span {
    display: block;
    margin: 10px 0;
    font-size: 40px;
    font-family: 'Roboto' , sans-serif;
    font-weight: bolder;
}

.product-text p {
    font-size: 17px;
    color: #ddd;
    margin: 0px 0px 8.5px;
    font-family: 'Open sans' , sans-serif;
}

.prd-images {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: baseline;
}

.img-1 {
    width: 300px;
    max-width: 400px;
    height: 350px;
    object-fit: cover;
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.prd-images div {
    margin-top: 10px;
    text-align: center;
    position: relative;
}

.prd-images h5 {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    padding: 25px 0; 
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    display: flex;  
    align-items: center; 
    justify-content: center;
}

.prd-images h5 a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.prd-images h5 img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.prd-button {
    top: -10px;
    text-align: center;
    width: 100%;
}

.prd-button .buttonprd {
    background-color: #B41E24;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 16px;
    font-family: 'Open sans' , sans-serif;
    transition: background-color 0.4s ease, transform 0.3s ease;
    overflow: hidden;
}

.prd-button .buttonprd img {
    width: 14px;
    height: 14px;
}

.prd-button .buttonprd:hover {
    background-color: #114c8b; 
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    .prd-images {
        flex-direction: row; 
        gap: 20px;
    }

    .img-1 {
        width: 80%; 
        max-width: none;
        height: auto;
    }

    .prd-images h5 {
        bottom: 10px;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .prd-images {
        flex-direction: row; 
        gap: 15px;
    }

    .img-1 {
        width: 90%; 
        height: auto;
    }

    .prd-images h5 {
        bottom: 15px;
    }
}

.case-studies{
    padding: 100px 0px;
}
.cst-txt{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.casestd-text h1{
    font-size: 57px;
    font-family: 'Roboto', sans-serif;
    color: #000;
    padding-left: 100px;
}

.casestd-text p{
    font-size: 17px;
    margin: 0px 0px 8.5px;
    font-family: 'Open sans' , sans-serif;
    color: #4B4F58;
    padding-left: 100px;
}

.btn{
    padding-top: 175px;
    padding-right: 150px;
    align-items: baseline;
    
}

.btn1{
    height: 50px;
    width: 240px;
    font-size: 16px;
    font-weight: 400;
    background-color: #B41E24;
    border: none;
    border-radius: 5px;
    color: white;
}

.btn :hover{
    background-color: #14469c;
    transition: all.4 , ease-in;
    transition-duration: 0.4s ;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: all;
}

.btn1 img{
    width: 20px;
    height: 20px;
}

.first-grp{
    display: flex;
    justify-content: space-around;
    padding: 100px;
    width: 1130px;
    margin-bottom: -100px;
}

.grp1-txt{
    background-color: transparent;
    border-radius: 10px;
    background-image: linear-gradient(180deg, #F9EDED 0%, #F8CCD7 100%);
    width: 600px;
    margin-top: -35px;
    margin-bottom: -35px;
}

.grp1-txt h2{
    padding-left: 50px;
    padding-top: 20px;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

.grp1-txt p{
    padding-left: 50px;
    font-size: 17px;
    font-family: 'Open sans' , sans-serif;
    margin: 0px 0px 8.5px;
    line-height: 2;
    color: #4B4F58;
}

.btn2{
    height: 50px;
    width: 200px;
    font-size: 16px;
    padding-left: 20px;
    background-color: #000;
    border-radius: 8px;
    border: none;
   
}

.grp1-btn :hover{
    background-color: #EC1C24;
}

.btn2 img{
    width: 10px;
    height: 10px;
    padding-left: 10px;
}

.btn2 a {
    text-decoration: none;
    color: white;
    padding-bottom: 2px;
}

.grp1-btn{
    padding-left: 50px;
    padding-top: 10px;
    gap: 100px;
    justify-content: space-between;
    border: none;
}

.btn2 a span{
    font-family: 'Open sans' ,  sans-serif;
    font-family: 15px;
}

.grp1-img img{
    width: 550px;
    padding-right: -300px; 
}

.snd-grp{
    display: flex;
    justify-content: space-around;
    padding: 100px;
}

.grp2-txt{
    background-color: transparent;
    border-radius: 10px;
    background-image: linear-gradient(180deg, #E4F7FC 0%, #B7E5F1 100%);
    width: 600px;
    margin-top: -19px;
}

.grp2-txt h2{
    color: #222;
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Roboto' ,sans-serif;
    padding-left: 50px;
    padding-top: 40px;
    margin-bottom: 5px;

}

.grp2-txt p{
    padding-left: 50px;
    padding-right: 15px;
    font-size: 17px;
    font-family: 'Open sans' , sans-serif;
    margin: 0px 0px 8.5px;
    line-height: 2;
    color: #4B4F58;
    margin: 0px 0px 8.5px;
}

.grp2-img img{
    width: 550px;
    padding-right: -300px;
}

.btn3{
    height: 50px;
    width: 200px;
    font-size: 16px;
    padding-left: 20px;
    background-color: #000;
    border-radius: 8px;
    border: none;
   
}

.grp2-btn :hover{
    background-color: #EC1C24;
}

.btn3 img{
    width: 10px;
    height: 10px;
    padding-left: 10px;
}

.btn3 a{
    text-decoration: none;
    color: white;
    padding-bottom: 2px;
}
.grp2-btn{
    padding-left: 50px;
    padding-top: 10px;
    gap: 100px;
    justify-content: space-between;
    
}

.tech-stack{
    background-color: #333232;
    height: 370px;
    padding-top: 0px;
    margin-top: -120px;
}

.tech-text{
    text-align: center;
    color: white;
    padding-top: 70px;
    font-weight: 500;
    font-size: 25px;
}

.custom-divider {
    display: flex;          
    align-items: center;    
    justify-content: center;
    gap: 10px;             
    margin: 20px 0;          
  }
  
  .dot {
    width: 5px;             
    height: 5px;
    background-color: #2575FC;  
    border-radius: 50%;      
  }
  
  .rectangle {
    width: 40px;             
    height: 5px;          
    background-color: #2575FC; 
    border-radius: 4px;
  }

  .tech-img{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}
  
.tech-img img{
    width: 50px;
    padding-bottom: 70px;
}

.custom-divider2 {
    display: flex;          
    align-items: center;    
    justify-content: center;
    gap: 10px;             
    margin: 20px 0; 
    padding-top: 10px;         
  }
  
  .dot1 {
    width: 5px;             
    height: 5px;
    background-color: #2575FC;  
    border-radius: 50%;      
  }
  
  .rectangle2 {
    width: 40px;             
    height: 5px;          
    background-color: #2575FC; 
    border-radius: 4px;
  }

  .client-txt h2{
    text-align: center;
    font-size: 40px;
    margin: 0px 0px 20px;
    color: #222222;
    font-family: 'Roboto' , sans-serif;
    font-weight: 500px;
    line-height: 1rem;
    margin-bottom: 20px;
    margin-top: 30px;
  }

  .client-txt p{
    text-align: center;
    font-size: 16px;
    color: #4B4F58;
    font-family: 'Open sans' , sans-serif;
  }

  .client-img{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
  }

  .client-img img{
    width: 200px;
  }
































































